{% include "header.html" %}

<div class="container">
      <h1>About iPutraHub</h1>
        <div style="text-align: center;"><img src="{{ url_for('static', filename='aboutvisa.jpg') }}" width="40%" />
    <h2> Welcome to iPutraHub!!!</h2><br> We are here to serve UPM International Students, help them to ease their visa application process.
    <br>Isubot is ready to answer your enquires, feel free to ask any question regarding visa and pass related issues, mobility
        and other universities matters.</div>
    </div>
  <br><br>

<div>{% include 'chaticon.html' %}</div>

  <footer>
		<b>Copyright &copy; 2021 MAHARAZ MUJTABA KARAYE</b>
	</footer>

  </body>
</html>
