{% include "header.html" %}

<div class="container">
      <h1>Welcome to online Visa application and enquiry hub.</h1>
        <div style="text-align: center;">

            <div class="jumbotron">
            <ul class="bxslider">
                <li><img src="{{ url_for('static', filename='UPMStudents.jpg') }}" /></li>
                <li><img src="{{ url_for('static', filename='visa.png') }}" /></li>
                <li><img src="{{ url_for('static', filename='02.jpg') }}" /></li>
                <li><img src="{{ url_for('static', filename='green.jpg') }}" /></li>
            </ul>
            </div>
        </div>
    </div>

{% include 'chaticon.html' %}

  <footer>
		<b>Copyright &copy; 2021 MAHARAZ MUJTABA KARAYE</b>
	</footer>
<script type="text/JavaScript" src="/static/boot/js/sha512.js"></script>
<script type="text/JavaScript" src="/static/boot/js/forms.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script src="boot/js/bootstrap.min.js"></script>-->
    <SCRIPT TYPE="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></SCRIPT>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<SCRIPT src="/static/boot/js/dialog.js" type="text/javascript"></SCRIPT>
 <script src="/static/boot/js/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="/static/boot/js/slide.js"></script>
  <script src="/static/boot/js/plugins/jquery.fitvids.js"></script

  </body>
</html>
