{% include "header.html" %}
		<div align="center">
		<div align="center" class="container">
			<div class="header">
				<h1>iPutra Staff Login</h1>
				<h2 class="word">ENTER STAFF ID AND PASSWORD</h2>
			</div></br>
			<h2 class="word">
				<form style="width: 50%;" action="/iputralogin" method="POST">
				<div class="msg"></div>
					<input id="matric" name="staffid" type="text" placeholder="Enter Your Staff ID" class="form-control" required/></br>
					<input id="password" name="password" type="password" placeholder="Enter Your Password" class="form-control" required/></br>
					<input type="submit" class="btn btn-primary" value="Login"></br>
				</form>
			</h2>
		</div>

		</div>
	</br>


	<footer>
		<b>Copyright &copy; 2021 MAHARAZ MUJTABA KARAYE</b>
	</footer>
	</body>


</html>
